.workshop-detail {
  background-color: #e6e8eb;
  padding: 24px;
  border-radius: 12px;
  font-family: Arial, sans-serif;
  color: #444;
  margin: 4rem;
  /* margin-right: 4rem; */
  box-sizing: border-box;
}

.workshop-title {
  font-size: 36px;
  font-weight: bold;
  color: #2e2e2e;
  margin-bottom: 16px;
}

.section-header {
  font-size: 24px;
  font-weight: bold;
  
  color: #199b6d;
  margin-top: 24px;
}

.section-content {
  font-size: 16px;
  color: #888;
  margin-bottom: 16px;
}

.info-boxes {
  display: column;
  justify-content: space-between;
  margin-top: 24px;
  gap: 1rem;
}

.info-box {
  padding: 16px;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  flex: 1;
}

.venue {
  background-color: #ffdb58;
  color: #111;
  margin-bottom: 1.9rem;
}

.prize {
  background-color: #ff9c5b;
  color: #b51e00;
  font-size: 22px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .info-boxes {
    flex-direction: column;
    gap: 12px;
  }
  .workshop-title {
    font-size: 28px;
  }
  .section-header {
    font-size: 20px;
  }
  .section-content {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .workshop-title {
    font-size: 24px;
  }
  .section-header {
    font-size: 18px;
  }
  .section-content {
    font-size: 13px;
  }
  .info-box {
    font-size: 16px;
    padding: 12px;
  }
}