.squares-canvas {
    position: fixed;
    width: 100vw;
    height: 100vh;
    border: none;
    display: block;
    /* Remove default margin/padding of canvas */
    background-color: rgb(0, 0, 0);
}