/* Root container styles */
.content-box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  min-height: 100vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: transparent;
  flex-direction: column; /* Align elements vertically */
}

/* Centered text styles */
.content-box .content-center {
  text-align: center;
}

/* Image styles */
.content-box img {
  max-width: 80%; /* Limits the image to 80% of the container width */
  height: auto;
  max-height: 300px; /* Sets a maximum height for the image */
}

/* Heading styles */
.content-box h1 img {
  display: block; /* Center the logo image */
  margin: 0 auto;
}

/* Paragraph styles */
.content-box .tagline {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 2.8rem;
  margin-top: 1rem; /* Adds some space above the tagline */
}

/* For Mobile Devices */
@media (max-width: 768px) {
  .content-box {
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem;
    min-height: 90vh; 
    gap: 1rem;
  }

  .content-box img {
    max-width: 60%;  /* Image width will be 60% on mobile */
    max-height: 250px; /* Reduces height of image on mobile */
  }

  .content-box .tagline {
    font-size: 2rem; /* Adjusts tagline font size for smaller screens */
  }
}
